#filtro {
	border: 1px solid;
}

#resultados {
	border: 1px solid;
}

.presenta_articulo_descarga {
	color: white;
}

.imagen-titulo {
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.7);
	left: 15px;
	right: 15px;
	z-index: 30;
	height: 20px;
	color: white;
	text-align: center; 
}
.imagen-descarga {
	position: absolute;
	bottom: 15px;
	background-color: rgba(0,0,0,.7);
	left: 15px;
	right: 15px;
	z-index: 30;
	height: 20px;
	color: white;
	text-align: center; 
}
.imagen-contenido {
	margin-top: 15px;
	margin-bottom: 20px;
	z-index: 10;
}

.ultimo-visto {
	background-color: #A0A0FF;
}

.current {
	font-weight: bold;
}
