<form class="form-horizontal">
	<fieldset>
		<!-- Form Name -->
		<legend>Resultados</legend>
		<!-- Select Multiple -->
		<div class="control-group">
			<label class="control-label" for="selectmultiple"></label>
			<div class="controls">
				<select id="selectmultiple" name="selectmultiple" class="input-xxlarge" multiple="multiple">
					<option>- - D65 - - - 10/03/2007 - EL TIEMPO - Pag 1-10</option>
					<option>- - D21 - - - 10/03/2007 - EL TIEMPO - Pag 1-11</option>
					<option>- - D63 - - - 10/03/2007 - EL TIEMPO - Pag 1-16</option>
					<option>- - B111 - B92- B71- 10/03/2007 - EL TIEMPO - Pag 1-23</option>
					<option>- - B114 - - - 10/03/2007 - EL TIEMPO - Pag 1-25</option>
					<option>- - B39 - - - 10/03/2007 - EL TIEMPO - Pag 1-25</option>
				</select>
			</div>
		</div>

		<!-- Button -->
		<div class="control-group">
			<div class="controls">
				<button id="imprimir" name="imprimir" class="btn btn-default"><i class="icon-print"></i></a></button>
				<button id="imprimir" name="imprimir" class="btn btn-default"><i class="icon-zoom-in"></i></button>
				<button id="imprimir" name="imprimir" class="btn btn-default"><i class="icon-zoom-out"></i></button>
			</div>
		</div>

		<!-- Textarea -->
		<div class="control-group">
			<div class="controls">                     
				<%= image_tag("muestra.jpg", :alt => "Prensa Cinep - MEDELLIN - B42 -  -  - 30_12_2012 - EL MUNDO - Pag6-7") %>
			</div>
		</div>

	</fieldset>
</form>
