<div class="imagen-contenido">
  <%= image_tag @descargajpg %>
</div>
<div class="descarga">
  <p style="width: 100%">
  <%= link_to(@descargapdf, {target: "_blank", 
                             class: "btn"}) do
  %>
    <%= fa_icon 'fa file-pdf-o', text: 'Descarga PDF' %>
  <% end %>
  </p>
</div>
