<a href="#" id="imagen-anterior" class="btn" data-remote="true">
  <i class="fa fa-arrow-left"></i>Anterior
</a>

<button type="button" class="btn btn-default" data-dismiss="modal">
  <i class="fa fa-close"></i> Cerrar
</button>
<a href="#" id="imagen-acercar" class="btn">
  <i class="fa fa-search-plus"></i> Acercar
</a>
<a href="#" id="imagen-alejar" class="btn">
  <i class="fa fa-search-minus"></i> Alejar
</a>
<a href="#" id="imagen-nueva-ventana" class="btn" target="_blank">
  <i class="fa fa-external-link"></i> Abrir en Nueva Ventana
</a>

<a href="#" id="imagen-siguiente" class="btn" data-remote="true">
  <i class="fa fa-arrow-right"></i>Siguiente
</a>
