<div class="modal fade" id="modal-imagen" tabindex="-1" role="dialog" aria-labelledby="modal-imagen-etiqueta">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
    </div>
      <div class="modal-body" style="overflow:scroll; max-height: 200px; width:auto; position: relative">
        <div style='display: none' id='modal-texto'>Por completar</div>
        <! -- Aqui mostraruno.js.erb insertará la imagen de _imagen -->
      </div>
      <div class="modal-footer">

        <% if can? :manage, Sal7711Gen::Articulo %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            "#", 
            class: 'btn btn-xs',
            id: 'editar-articulo',
            onclick: "$('#modal-imagen').modal('hide');" +
              " $('.modal-backdrop').remove();" %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            "#",
            :method => :delete,
            data: { 
              confirm: t('.confirm', :default => 
                            t("helpers.links.confirm", 
                              :default => 'Está seguro(a)?'))
            },
            class: 'btn btn-xs btn-danger',
            id: 'eliminar-articulo' %>
        <% end %> 
        <%= render 'modal_articulo_botones' %>


      </div>
    </div>
  </div>
</div>
