<a href="#" id="imagen-anterior" class="btn btn-sm" data-remote="true">
  <i class="fa fa-arrow-left" alt='Anterior'></i>
</a>
<button type="button" class="btn btn-sm" data-dismiss="modal">
  <i class="fa fa-window-close" alt='Cerrar'></i>
</button>
<a href="#" id="imagen-acercar" class="btn btn-sm">
  <i class="fa fa-search-plus" alt='Acercar'></i>
</a>
<a href="#" id="imagen-alejar" class="btn btn-sm">
  <i class="fa fa-search-minus" alt='Alejar'></i>
</a>
<a href="#" id="imagen-nueva-ventana" class="btn btn-sm" target="_blank">
  <i class="fa fa-external-link-alt" alt='Abrir en Nueva Ventana'></i> 
</a>

<a href="#" id="imagen-siguiente" class="btn btn-sm" data-remote="true">
  <i class="fa fa-arrow-right" alt='Siguiente'></i>
</a>
