<div class="panel panel-default">
  <div class="panel-heading">Artículos: <%= @numregistros %> </div>
  <div class="panel-body">

    <table class="table table-striped">
      <tbody>
      <% @entradas.try(:each) do |fila| %>
        <tr><td>
          <%= link_to CGI.escapeHTML(truncate(
            fila[@coltexto].to_s, length: 95, separator: '-')), 
          "/buscar/#{CGI.escapeHTML(fila[@colid].to_s)}", 
          class: 'muestra-imagen', remote: true
        %>
    </td></tr>
    <% end %>
      </tbody>
    </table>
    <div id="enlaces_paginacion">
      <%= pagina @entradas, { param_name: :pag } %>
    </div>
  </div>
</div>
