<html>
  <head>
    <title><%= @titulo %> </title>
  </head>
  <body>
    <p><%= @titulo %></p>
    <hr>
    <div class="imagen-contenido">
      <%= image_tag @descargajpg %>
    </div>
  </body>
</html>
