<html>
  <head>
    <title><%= @titulo %> </title>
  </head>
  <body>
    <p><%= @titulo %></p>
    <hr>
    <div class="imagen-contenido">
      <% if @descargajgp %>
        <%= image_tag @descargajpg %>
      <% end %>
    </div>
  </body>
</html>
