<div class="panel panel-default">
  <div class="panel-heading">Consultas: <%= @consultas.size %> </div>
  <div class="panel-body">

    <table class="table table-striped">
      <tbody>
      <% @consultas.try(:each) do |fila| %>
        <tr><td>
          <%= link_to CGI.escapeHTML(truncate(
            desc_bitacora(fila['detalle']), length: 95, separator: ' ')), 
          "/bitacora/#{CGI.escapeHTML(fila['id'].to_s)}", 
          class: 'muestra-consulta', remote: true
        %>
    </td></tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>
