<div class="panel panel-default">
  <div class="panel-heading">Consultas: <%= @consultas.size %> </div>
  <div class="panel-body">

    <table class="table table-striped">
      <tbody>
      <% @consultas.try(:each) do |fila| %>
        <tr><td>
            <%= 
              if fila && fila['detalle'] && fila['detalle']['buscar']
                # Solo bitacoras con nuevo tipo de formulario soportadas
                d = fila['detalle']
                link_to CGI.escapeHTML(truncate(
                  desc_bitacora(d), length: 95, separator: ' ')),
                '#', class: 'historial-filtro', 
                'data-fechainifiltro': CGI.escapeHTML(d['buscar']['fechaini']),
                'data-fechafinfiltro': CGI.escapeHTML(d['buscar']['fechafin']),
                'data-mundepfiltro': CGI.escapeHTML(d['buscar']['mundep']),
                'data-categoriafiltro': CGI.escapeHTML(d['buscar']['categoria']),
                'data-fuentefiltro': CGI.escapeHTML(d['buscar']['fuente']),
                'data-paginafiltro': CGI.escapeHTML(d['buscar']['pagina'])
              end
            %>
        </td></tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>
