<div class="panel panel-default">
  <div class="panel-heading">Consultas: <%= @consultas.size %> </div>
  <div class="panel-body">

    <table class="table table-striped">
      <tbody>
      <% @consultas.try(:each) do |fila| %>
        <tr><td>
            <%= CGI.escapeHTML(truncate(
              desc_bitacora(fila['detalle']), length: 95, separator: ' '))
            %>
        </td></tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>
